@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F9FAFB;
}



::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: #F9FAFB;
}


::-webkit-scrollbar-thumb {
  background: #023047;
  border-radius: 8px;
}